black==23.11.0
confluent-kafka==2.3.0
coverage==7.3.2
dill==0.3.7
Django==3.1.3
django-cors-headers==3.5.0
django-filter==2.4.0
django-graphql-jwt
django-health-check==3.17.0
Faker==12.0.1
graphene==2.1.9
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1
mixer==7.2.2
Pillow==10.1.0
platformdirs==4.0.0
promise==2.3
psycopg2-binary==2.9.8
pycodestyle==2.11.1
pyflakes==3.1.0
PyJWT==1.7.1
pylint==3.0.2
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
python-dateutil==2.8.2
python-decouple==3.8
Rx==1.6.3
sqlparse==0.4.4
