name: Despliegue en Railway

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
  
      - name: Checkout del Repositorio
        uses: actions/checkout@v2

      - name: Configurar Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Instalar Dependencias
        run: pip install -r requirements.txt

      - name: Desplegar en Railway
        env:
          RAILWAY_API_KEY: ${{ secrets.RAILWAY_API_KEY }}
        run: |
          curl -fsSL https://get.railway.app | bash
          railway run "python manage.py migrate"
          railway up

